torch
torchaudio
torchvision
math
numpy
matplotlib
json
re
Levenshtein
audioread
cffi
decorator
joblib
librosa
llvmlite
numba
Pillow
pycparser
python-Levenshtein
resampy
scikit-learn
scipy
six
SoundFile
threadpoolctl
tqdm
wget